
  
  .projectChatRealTimeHome{
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 100vh;
    background-color: #323232;
    color: white;
    padding:3%;
  }

  .projectChatRealTimeHome_title{
    font-size: 56px;
    display: flex;
    flex-direction: row;
    gap:16px;
  }

  .projectChatRealTimeHome_textYellowNotPat{
    color:#FFCA0E;
  }

  .projectChatRealTimeHome_textYellow{
    padding-left: 3%;
    color:#FFCA0E;
  }

  .projectChatRealTimeHome input {
    max-width: 800px;
    height: 40px;
    background-color: #323232;
    border: 2px solid white;
    border-radius: 16px;
    outline: none;
    color: white;
    font-size: 16px;
  }
  .projectChatRealTimeHome input::placeholder {
    padding-left: 2%;
    color: #a7a7a7;
  }
  
  .projectChatRealTimeHome select {
    max-width: 800px;
    height: 40px;
    background-color: #323232;
    border: 2px solid white;
    border-radius: 16px;
    outline: none;
    color: white;
    font-size: 16px;
  }
  .projectChatRealTimeHome button {
    width: 300px;
    height: 40px;
    background-color: #FFCA0E;
    color:#323232;
    border-radius: 16px;
    border: 2px solid #FFCA0E;
    font-size: 16px;
    cursor: pointer;
  }

  .projectChatRealTimeHomeRowGap{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
  .projectChatRealTimeHome label {
    font-size: 24px;
  }

  .projectChatRealTimeHome_rooms{
    display: flex;
    flex-direction: column;
    gap:16px;
  }
  
  .projectChatRealTimeHome_roomsItem{
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
    padding:10px;
    border-radius: 8px;
  }

  .projectChatRealTimeHome_roomsDescription{
    padding-left: 3%;
    font-size: 14px;
    color:#a7a7a7 ;
  }

  .projectChatRealTimeHome_roomsButtonAcess{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFCA0E;
    width: 150px;
    height: 40px;
    border-radius: 16px;
    margin-bottom: 32px;
    cursor: pointer;
  }

  
  .projectChatRealTimeHome_roomsButtonAcessSend{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFCA0E;
    background-color: #FFCA0E;
    color:#323232;
    width: 150px;
    height: 40px;
    border-radius: 16px;
    margin-bottom: 32px;
    cursor: pointer;
  }
  
  .projectChatRealTimeHomeSecondButton {
    width: 150px;
    height: 40px;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    color:#a7a7a7;
    display: flex;
    align-items: center;
  }

  .projectChatRealTimeHomeSecondButton:hover {
    background-color: #a7a7a7;
    width: 150px;
    height: 40px;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    color:white;
    display: flex;
    align-items: center;
    padding-left:1%;
  }
  .projectChatRealTimeHome_roomsDiv{
    display: flex;
    flex-direction: column;
  }
  .projectChatRealTimeHome_roomsDivMaster{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;

  }

  .projectChatRealTimeHome_roomsDivSendMessage{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
  .projectChatRealTimeHome_row{
    display: flex;
    flex-direction: row;
    gap:16px;
  }

.projectChatRealTimeHome_gray{
  color: #a7a7a7;
}
.projectChatRealTimeHome_msg{
  padding-left: 2%;
  font-size: 14px;
}
  .projectChatRealTimeHome_roomsDivHistoryChat{
    width: 800px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .projectChatRealTimeHome_roomsDivSendMessageInput{
    width: 70%;
  }

  @media (max-width: 768px) {
    
    .projectChatRealTimeHome_title{
      font-size: 36px;
      flex-direction: column;
    }
    .projectChatRealTimeHome_roomsDivSendMessage{
      width: 380px;
      gap: 12px;
    }
    .projectChatRealTimeHome_roomsDivSendMessageInput{
      width: 50%;
    }
  
  
  }