@font-face {
    font-family: 'Poppins-Regular'; 
    src: url('../public/Poppins-Regular.ttf'); 
  }
  
  * {
    font-family: 'Poppins-Regular', sans-serif;
    margin: 0;
  }
  
  .projectChatRealTime{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #323232;
    color: white;
  }
  
  .projectChatRealTimeRowGap{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
  .projectChatRealTime_title{
    font-size: 40px;
    color:#FFCA0E;
  }
  .projectChatRealTime label {
    font-size: 24px;
  }
  .projectChatRealTime input {
    width: 300px;
    height: 40px;
    background-color: #323232;
    border: 2px solid white;
    border-radius: 16px;
    outline: none;
    color: white;
    font-size: 16px;
  }
  .projectChatRealTime input::placeholder {
    padding-left: 2%;
    color: #a7a7a7;
  }
  
  .projectChatRealTime input:focus {
    border:3px solid #FFCA0E;
  }
  
  .projectChatRealTime button {
    width: 300px;
    height: 40px;
    background-color: #FFCA0E;
    color:#323232;
    border-radius: 16px;
    border: 2px solid #FFCA0E;
    font-size: 16px;
    cursor: pointer;
  }
  .projectChatRealTime_clearStorage{
    width: 300px;
    height: 40px;
    border: 2px solid #FFCA0E;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
  }
  